{{ 'help.css' | asset_url | stylesheet_tag }}

<section id="help">
  <div class="wrapper">
    <div class="help-container">
      <img
        src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Blue_Flower.webp?v=1733414521"
        class="flower"
        alt="Flower"
        loading="lazy"
      >
      <div class="help-header">
        <p class="lead-in light-blue">Need Extra Help?</p>
        <h2 class="dark-gray">Consult With Our Team</h2>
        <p class="light-gray">
          Each patient begins their skincare journey with an initial consultation to discuss goals and potential
          treatment options with Dr. Nichols or one of our board-certified Nurse Practitioners. Your one hour concierge
          appointment will include your choice of a full-body skin exam or SECA body composition analysis, a skinscope
          analysis, and a wellness check-in. At NicholsMD, It is common to do treatments at the same time as the
          consultation. All New Patient Consultations require a $325 fee, with $125 being credited towards any same-day
          cosmetic treatment purchases.
        </p>
      </div>
      <ul class="help-list-container">
        <li>
          <svg
            width="64"
            height="51"
            viewBox="0 0 64 51"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1_910)">
              <path
                d="M9.36347 30.6855C10.3205 28.8984 10.0275 26.7012 8.63105 25.2363C6.55098 23.0488 5.43769 20.4219 5.43769 17.6875C5.43769 11.4863 11.6682 5.1875 21.0627 5.1875C30.4572 5.1875 36.6877 11.4863 36.6877 17.6875C36.6877 23.8887 30.4572 30.1875 21.0627 30.1875C19.7834 30.1875 18.5432 30.0605 17.3713 29.8359C16.3557 29.6406 15.301 29.7773 14.3732 30.2461C13.9729 30.4512 13.5627 30.6465 13.1428 30.832C11.5803 31.5352 9.92988 32.1504 8.26973 32.5898C8.54316 32.1406 8.79707 31.7012 9.04121 31.2617C9.14863 31.0762 9.25605 30.8809 9.35371 30.6855H9.36347ZM21.0627 34.875C32.2834 34.875 41.3752 27.1797 41.3752 17.6875C41.3752 8.19531 32.2834 0.5 21.0627 0.5C9.84199 0.5 0.750194 8.19531 0.750194 17.6875C0.750194 21.7695 2.42988 25.5098 5.23262 28.459C5.14473 28.625 5.04707 28.8008 4.95918 28.957C3.95332 30.7539 2.78144 32.5215 1.38496 34.0449C0.740429 34.7285 0.574413 35.7246 0.935741 36.5742C1.3166 37.4434 2.15644 38 3.09394 38C7.29316 38 11.5412 36.7012 15.0764 35.0996C15.5451 34.8848 16.0139 34.6602 16.4631 34.4355C17.9377 34.7285 19.4807 34.875 21.0627 34.875ZM42.9377 47.375C44.5197 47.375 46.0529 47.2188 47.5373 46.9355C47.9865 47.1602 48.4553 47.3848 48.924 47.5996C52.4592 49.2012 56.7072 50.5 60.9064 50.5C61.8439 50.5 62.6838 49.9434 63.0549 49.084C63.426 48.2246 63.2502 47.2285 62.6057 46.5547C61.2189 45.0312 60.0471 43.2637 59.0314 41.4668C58.9436 41.3008 58.8459 41.1348 58.758 40.9688C61.5705 38.0098 63.2502 34.2695 63.2502 30.1875C63.2502 20.9688 54.6662 13.4395 43.8947 13.0195C44.2951 14.5039 44.5002 16.0664 44.5002 17.6875V17.7461C53.0158 18.4004 58.5627 24.3379 58.5627 30.1875C58.5627 32.9219 57.4494 35.5488 55.3693 37.7266C53.9728 39.1914 53.6799 41.3984 54.6369 43.1758C54.7443 43.3711 54.8518 43.5664 54.9494 43.752C55.1936 44.1914 55.4572 44.6309 55.7209 45.0801C54.0607 44.6406 52.4103 44.0352 50.8478 43.3223C50.4279 43.1367 50.0178 42.9414 49.6174 42.7363C48.6896 42.2676 47.635 42.1309 46.6193 42.3262C45.4377 42.5605 44.1975 42.6777 42.9279 42.6777C36.9025 42.6777 32.1857 40.0898 29.5686 36.5938C28.0061 37.1211 26.3654 37.5117 24.6857 37.7461C27.9963 43.4492 34.9299 47.375 42.9377 47.375Z"
                fill="#4DB4BD"
              />
            </g>
            <defs>
              <clipPath id="clip0_1_910">
                <rect
                  width="62.5"
                  height="50"
                  fill="white"
                  transform="translate(0.75 0.5)"
                />
              </clipPath>
            </defs>
          </svg>
          <h3 class="dark-gray">Consultation</h3>
          <p class="light-gray">
            Meet with our dermatology experts to assess your skin’s unique needs. We’ll create a customized treatment
            plan designed to deliver stunning, long-lasting results.
          </p>
        </li>
        <li>
          <svg
            width="44"
            height="51"
            viewBox="0 0 44 51"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.625 0.5C13.9238 0.5 14.9688 1.54492 14.9688 2.84375V6.75H29.0312V2.84375C29.0312 1.54492 30.0762 0.5 31.375 0.5C32.6738 0.5 33.7188 1.54492 33.7188 2.84375V6.75H37.625C41.0723 6.75 43.875 9.55273 43.875 13V14.5625V19.25V44.25C43.875 47.6973 41.0723 50.5 37.625 50.5H6.375C2.92773 50.5 0.125 47.6973 0.125 44.25V19.25V14.5625V13C0.125 9.55273 2.92773 6.75 6.375 6.75H10.2812V2.84375C10.2812 1.54492 11.3262 0.5 12.625 0.5ZM39.1875 19.25H4.8125V44.25C4.8125 45.1094 5.51562 45.8125 6.375 45.8125H37.625C38.4844 45.8125 39.1875 45.1094 39.1875 44.25V19.25ZM32.2539 29.5039L21.3164 40.4414C20.3984 41.3594 18.9141 41.3594 18.0059 40.4414L11.7559 34.1914C10.8379 33.2734 10.8379 31.7891 11.7559 30.8809C12.6738 29.9727 14.1582 29.9629 15.0664 30.8809L19.6562 35.4707L28.9336 26.1934C29.8516 25.2754 31.3359 25.2754 32.2441 26.1934C33.1523 27.1113 33.1621 28.5957 32.2441 29.5039H32.2539Z"
              fill="#4DB4BD"
            />
          </svg>
          <h3 class="dark-gray">Schedule</h3>
          <p class="light-gray">
            Convenient and flexible scheduling ensures you can prioritize your skincare goals without compromising your
            busy lifestyle.
          </p>
        </li>
        <li>
          <svg
            width="54"
            height="51"
            viewBox="0 0 54 51"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M23.7949 4.66992L20.1133 6.04688C19.8203 6.1543 19.625 6.4375 19.625 6.75C19.625 7.0625 19.8203 7.3457 20.1133 7.45312L23.7949 8.83008L25.1719 12.5117C25.2793 12.8047 25.5625 13 25.875 13C26.1875 13 26.4707 12.8047 26.5781 12.5117L27.9551 8.83008L31.6367 7.45312C31.9297 7.3457 32.125 7.0625 32.125 6.75C32.125 6.4375 31.9297 6.1543 31.6367 6.04688L27.9551 4.66992L26.5781 0.988281C26.4707 0.695312 26.1875 0.5 25.875 0.5C25.5625 0.5 25.2793 0.695312 25.1719 0.988281L23.7949 4.66992ZM5.37695 39.1133C3.55078 40.9395 3.55078 43.9082 5.37695 45.7441L8.75586 49.123C10.582 50.9492 13.5508 50.9492 15.3867 49.123L52.6231 11.877C54.4492 10.0508 54.4492 7.08203 52.6231 5.24609L49.2441 1.87695C47.418 0.0507811 44.4492 0.0507811 42.6133 1.87695L5.37695 39.1133ZM48.1992 8.56641L37.9453 18.8203L35.6699 16.5449L45.9238 6.29102L48.1992 8.56641ZM1.60742 11.9453C1.16797 12.1113 0.875 12.5312 0.875 13C0.875 13.4688 1.16797 13.8887 1.60742 14.0547L7.125 16.125L9.19531 21.6426C9.36133 22.082 9.78125 22.375 10.25 22.375C10.7188 22.375 11.1387 22.082 11.3047 21.6426L13.375 16.125L18.8926 14.0547C19.332 13.8887 19.625 13.4688 19.625 13C19.625 12.5312 19.332 12.1113 18.8926 11.9453L13.375 9.875L11.3047 4.35742C11.1387 3.91797 10.7188 3.625 10.25 3.625C9.78125 3.625 9.36133 3.91797 9.19531 4.35742L7.125 9.875L1.60742 11.9453ZM35.9824 36.9453C35.543 37.1113 35.25 37.5312 35.25 38C35.25 38.4688 35.543 38.8887 35.9824 39.0547L41.5 41.125L43.5703 46.6426C43.7363 47.082 44.1562 47.375 44.625 47.375C45.0938 47.375 45.5137 47.082 45.6797 46.6426L47.75 41.125L53.2676 39.0547C53.707 38.8887 54 38.4688 54 38C54 37.5312 53.707 37.1113 53.2676 36.9453L47.75 34.875L45.6797 29.3574C45.5137 28.918 45.0938 28.625 44.625 28.625C44.1562 28.625 43.7363 28.918 43.5703 29.3574L41.5 34.875L35.9824 36.9453Z"
              fill="#4DB4BD"
            />
          </svg>
          <h3 class="dark-gray">Glow</h3>
          <p class="light-gray">
            Experience the glow of confidence with treatments tailored to enhance your natural beauty. Let us guide you
            to skin that looks and feels its absolute best.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Consult With Team",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Consult With Team"
    }
  ]
}
{% endschema %}
