{{ 'consult.css' | asset_url | stylesheet_tag }}

<section id="consult">
  <div class="wrapper">
    <div class="consult-container">
      <div class="consult-details">
        <h3>What our patients say about us</h3>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <svg
                class="ratings"
                width="120"
                height="21"
                viewBox="0 0 120 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.6299 0L13.5269 6.07118L20.1962 6.95032L15.3174 11.5816L16.5422 18.1962L10.6299 14.9873L4.71759 18.1962L5.9424 11.5816L1.06359 6.95032L7.73286 6.07118L10.6299 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M35.3154 0L38.2125 6.07118L44.8817 6.95032L40.0029 11.5816L41.2277 18.1962L35.3154 14.9873L29.4031 18.1962L30.6279 11.5816L25.7491 6.95032L32.4184 6.07118L35.3154 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M60.001 0L62.898 6.07118L69.5673 6.95032L64.6885 11.5816L65.9133 18.1962L60.001 14.9873L54.0887 18.1962L55.3135 11.5816L50.4347 6.95032L57.104 6.07118L60.001 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M84.6865 0L87.5835 6.07118L94.2528 6.95032L89.374 11.5816L90.5988 18.1962L84.6865 14.9873L78.7742 18.1962L79.999 11.5816L75.1202 6.95032L81.7895 6.07118L84.6865 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M109.372 0L112.269 6.07118L118.938 6.95032L114.06 11.5816L115.284 18.1962L109.372 14.9873L103.46 18.1962L104.685 11.5816L99.8058 6.95032L106.475 6.07118L109.372 0Z"
                  fill="#EDAA00"
                />
              </svg>
              <p class="white">
                “In sit amet tellus sed mauris accumsna feugiat ac non nisl. Fusce tempor vitae libero at semper.
                Phasellus suscipit et risus vel posuere. In pretium metus quis rutrum aliquam. Quisque vestibulum urna
                id malesuada maximus. In interdum diam sodales ullamcorper dapibus.”
              </p>
              <h4 class="white">Jane Doe</h4>
            </div>
            <div class="swiper-slide">
              <svg
                class="ratings"
                width="120"
                height="21"
                viewBox="0 0 120 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.6299 0L13.5269 6.07118L20.1962 6.95032L15.3174 11.5816L16.5422 18.1962L10.6299 14.9873L4.71759 18.1962L5.9424 11.5816L1.06359 6.95032L7.73286 6.07118L10.6299 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M35.3154 0L38.2125 6.07118L44.8817 6.95032L40.0029 11.5816L41.2277 18.1962L35.3154 14.9873L29.4031 18.1962L30.6279 11.5816L25.7491 6.95032L32.4184 6.07118L35.3154 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M60.001 0L62.898 6.07118L69.5673 6.95032L64.6885 11.5816L65.9133 18.1962L60.001 14.9873L54.0887 18.1962L55.3135 11.5816L50.4347 6.95032L57.104 6.07118L60.001 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M84.6865 0L87.5835 6.07118L94.2528 6.95032L89.374 11.5816L90.5988 18.1962L84.6865 14.9873L78.7742 18.1962L79.999 11.5816L75.1202 6.95032L81.7895 6.07118L84.6865 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M109.372 0L112.269 6.07118L118.938 6.95032L114.06 11.5816L115.284 18.1962L109.372 14.9873L103.46 18.1962L104.685 11.5816L99.8058 6.95032L106.475 6.07118L109.372 0Z"
                  fill="#EDAA00"
                />
              </svg>
              <p class="white">
                “In sit amet tellus sed mauris accumsna feugiat ac non nisl. Fusce tempor vitae libero at semper.
                Phasellus suscipit et risus vel posuere. In pretium metus quis rutrum aliquam. Quisque vestibulum urna
                id malesuada maximus. In interdum diam sodales ullamcorper dapibus.”
              </p>
              <h4 class="white">Jane Doe</h4>
            </div>
            <div class="swiper-slide">
              <svg
                class="ratings"
                width="120"
                height="21"
                viewBox="0 0 120 21"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.6299 0L13.5269 6.07118L20.1962 6.95032L15.3174 11.5816L16.5422 18.1962L10.6299 14.9873L4.71759 18.1962L5.9424 11.5816L1.06359 6.95032L7.73286 6.07118L10.6299 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M35.3154 0L38.2125 6.07118L44.8817 6.95032L40.0029 11.5816L41.2277 18.1962L35.3154 14.9873L29.4031 18.1962L30.6279 11.5816L25.7491 6.95032L32.4184 6.07118L35.3154 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M60.001 0L62.898 6.07118L69.5673 6.95032L64.6885 11.5816L65.9133 18.1962L60.001 14.9873L54.0887 18.1962L55.3135 11.5816L50.4347 6.95032L57.104 6.07118L60.001 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M84.6865 0L87.5835 6.07118L94.2528 6.95032L89.374 11.5816L90.5988 18.1962L84.6865 14.9873L78.7742 18.1962L79.999 11.5816L75.1202 6.95032L81.7895 6.07118L84.6865 0Z"
                  fill="#EDAA00"
                />
                <path
                  d="M109.372 0L112.269 6.07118L118.938 6.95032L114.06 11.5816L115.284 18.1962L109.372 14.9873L103.46 18.1962L104.685 11.5816L99.8058 6.95032L106.475 6.07118L109.372 0Z"
                  fill="#EDAA00"
                />
              </svg>
              <p class="white">
                “In sit amet tellus sed mauris accumsna feugiat ac non nisl. Fusce tempor vitae libero at semper.
                Phasellus suscipit et risus vel posuere. In pretium metus quis rutrum aliquam. Quisque vestibulum urna
                id malesuada maximus. In interdum diam sodales ullamcorper dapibus.”
              </p>
              <h4 class="white">Jane Doe</h4>
            </div>
          </div>
          <div class="swiper-pagination-container">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Consult",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Consult"
    }
  ]
}
{% endschema %}
