{% comment %}  
<link rel="preload" href="{{ 'quiz.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>{{ 'quiz.css' | asset_url | stylesheet_tag }}</noscript>

<section id="quiz">
  <div class="wrapper">
    <div class="quiz-container">
      <img
        src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Flower.webp?v=1733414521"
        class="flower"
        alt="Flower"
        loading="lazy"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Woman_Smiling.webp?v=1733414522"
        alt="Woman_Smiling"
        loading="lazy"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Putting_Cream_in_Skin.webp?v=1733427586"
        alt="Putting_Cream_in_Skin"
        loading="lazy"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Removing_Object_in_Eye.webp?v=1733427586"
        alt="Removing_Object_in_Eye"
        loading="lazy"
      >
      <img
        src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Flower.webp?v=1733414521"
        loading="lazy"
        alt="Flower"
      >
      <div class="quiz-details-container">
        <svg
          class="rotatingText"
          viewBox="0 0 200 200"
          width="200"
          height="200"
        >
          <circle cx="100" cy="100" r="12" fill="white" stroke-width="2" />
          <defs>
            <path
              id="circle"
              d="M 100, 100
                    m -75, 0
                    a 75, 75 0 1, 0 150, 0
                    a 75, 75 0 1, 0 -150, 0
                    "
            ></path>
          </defs>
          <text width="200">
            <textPath
              href="#circle"
              class="text"
              startOffset="50%"
              text-anchor="middle"
              dominant-baseline="middle"
            >
              You came to the right place
            </textPath>
          </text>
        </svg>
        <h2 class="white">Don’t know your skin type? Take the Quiz!</h2>
        <p class="low-white">
          Rediscover your natural beauty with personalized treatments. From skincare rejuvenation to
          innovative procedures, experience transformative results and embrace a new level of confidence.
        </p>
        <a href="#vf-696bwf7z-p-r" class="btn-primary">Take the Quiz</a> 
      </div>
    </div>
  </div>
</section>

{% endcomment %}

{% schema %}
{
  "name": "Quiz",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Quiz"
    }
  ]
}
{% endschema %}
