{{ 'team.css' | asset_url | stylesheet_tag }}

<section id="team">
  <div class="wrapper">
    <div class="team-main-container">
      <div class="team-header-container">
        <p class="lead-in light-blue">meet the team</p>
        <h2 class="dark-gray">Our Expert Team</h2>
        <p class="light-gray">
          The NicholsMD team, led by Dr. Kim Nichols, combines dermatology expertise with personalized care to deliver
          exceptional skincare solutions for every unique need.
        </p>
      </div>
      <div class="team-container">
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Dr._Kim.webp?v=1734972120"
            alt="Dr. Kim"
            loading="lazy"
          >
          <h4 class="dark-gray">Dr. Kim Nichols, MD FAAD</h4>
          <p>Board-Certified Dermatologist Founding Director, NicholsMD</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Emily.webp?v=1734972120"
            alt="Emily"
            loading="lazy"
          >
          <h4 class="dark-gray">Emily Anne Scalise, M.A.</h4>
          <p>Executive Director</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Stephaine_Smith.webp?v=1734972121"
            alt="Stephanie Smith"
            loading="lazy"
          >
          <h4 class="dark-gray">Stephanie Smith</h4>
          <p>DNP, FNP-BC</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Mikayla_Mueller.webp?v=1734972121"
            alt="Mikayla Mueller"
            loading="lazy"
          >
          <h4 class="dark-gray">Mikayla Mueller</h4>
          <p>MSN, NP-BC</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Julia_Spagnoletti.webp?v=1734972120"
            alt="Julia Spagnoletti"
            loading="lazy"
          >
          <h4 class="dark-gray">Julia Spagnoletti</h4>
          <p>MSN, PNP-BC</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Dana_Barbieri.webp?v=1734972120"
            alt="Dana Barbieri"
            loading="lazy"
          >
          <h4 class="dark-gray">Dana Barbieri</h4>
          <p>MSN, FNP-BC</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/CarlyPaul.webp?v=1734972120"
            alt="Carly Paul"
            loading="lazy"
          >
          <h4 class="dark-gray">Carly Paul</h4>
          <p>Board-Certified Registered Nurse</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Sadie_Snow.webp?v=1734972121"
            alt="Sadie Snow"
            loading="lazy"
          >
          <h4 class="dark-gray">Sadie Snow</h4>
          <p>Board-Certified Registered Nurse</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Hannah_Dahlke.webp?v=1734972120"
            alt="Hannah Dahlke"
            loading="lazy"
          >
          <h4 class="dark-gray">Hannah Dahlke</h4>
          <p>Board-Certified Registered Nurse</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Jessica_Bergquist_Romanzi.webp?v=1734972120"
            alt="Jessica Bergquist Romanzi"
            loading="lazy"
          >
          <h4 class="dark-gray">Jessica Bergquist Romanzi</h4>
          <p>Aesthetic Educator and Master Aesthetician</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Lexi_Durand.webp?v=1734972121"
            alt="Lexie Durand"
            loading="lazy"
          >
          <h4 class="dark-gray">Lexie Durand</h4>
          <p>Licensed Aesthetician</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Lana.webp?v=1734972121"
            alt="Lana Suleiman"
            loading="lazy"
          >
          <h4 class="dark-gray">Lana Suleiman</h4>
          <p>Lead Medical Assistant</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Hailey_Brunner.webp?v=1734972120"
            alt="Hailey Brunner"
            loading="lazy"
          >
          <h4 class="dark-gray">Hailey Brunner</h4>
          <p>Medical Assistant</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Nicole_Montalvo.webp?v=1734972120"
            alt="Nicole Montalvo"
            loading="lazy"
          >
          <h4 class="dark-gray">Nicole Montalvo</h4>
          <p>Medical Assistant</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Alison_Salem.webp?v=1734972120"
            alt="Alison Salem"
            loading="lazy"
          >
          <h4 class="dark-gray">Alison Salem</h4>
          <p>Medical Assistant</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Madison_Bradley.webp?v=1734972121"
            alt="Madison Bradley, MBA"
            loading="lazy"
          >
          <h4 class="dark-gray">Madison Bradley, MBA</h4>
          <p>Office Manager</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Melaine_Tzenova.webp?v=1734972121"
            alt="Melanie Tzenova"
            loading="lazy"
          >
          <h4 class="dark-gray">Melanie Tzenova</h4>
          <p>Office Manager</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/JessicaLeon.webp?v=1734972121"
            alt="Jessica Leon"
            loading="lazy"
          >
          <h4 class="dark-gray">Jessica Leon</h4>
          <p>Office Manager</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Diana_Vata.webp?v=1734972121"
            alt="Diana Vata"
            loading="lazy"
          >
          <h4 class="dark-gray">Diana Vata</h4>
          <p>Front Office Manager</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Leslie_caltenco.webp?v=1734972120"
            alt="Leslie Caltenco"
            loading="lazy"
          >
          <h4 class="dark-gray">Leslie Caltenco</h4>
          <p>Administrative Assistant</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Emily_Russo.webp?v=1734972120"
            alt="Emily Russo"
            loading="lazy"
          >
          <h4 class="dark-gray">Emily Russo</h4>
          <p>Senior Marketing Manager</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Andreah_BonHomme.webp?v=1734972120"
            alt="Andreah BonHomme"
            loading="lazy"
          >
          <h4 class="dark-gray">Andreah BonHomme</h4>
          <p>Marketing Manager</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Carolyn_Roperto.webp?v=1734972120"
            alt="Carolyn Roperto"
            loading="lazy"
          >
          <h4 class="dark-gray">Carolyn Roperto</h4>
          <p>Client Coordinator</p>
        </div>
        <div class="team-widget">
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Bria_Dixon.webp?v=1734972120"
            alt="Bria Dixon"
            loading="lazy"
          >
          <h4 class="dark-gray">Bria Dixon</h4>
          <p>Client Coordinator</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Team",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Team"
    }
  ]
}
{% endschema %}
