#about .about-image-container:after,
#about .about-image-container:before {
  box-shadow: 0 0 0 12px var(--global-color-white);
  position: absolute;
  content: "";
}
#about .about-details-container {
  padding: 127px 24px 99px 295px;
  position: relative;
  margin-left: -204px;
  right: -20px;
}
#about .about-details-container:before {
  position: absolute;
  content: "";
  background: var(--global-primary-blue);
  top: 0;
  left: 0;
  z-index: -1;
  bottom: 0;
  border-radius: 300px 0 200px;
  right: 0;
}
#about .about-container {
  display: flex;
  align-items: center;
  padding: 102px 0 87px;
}
#about .about-image-container:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 500px;
}
#about .about-image-container {
  position: relative;
}
#about .about-image-container:after {
  top: 17px;
  left: 17px;
  right: 17px;
  bottom: 17px;
  z-index: 1;
  border-radius: 484px;
}
#about .about-image-container .about-image {
  width: 532px;
  border-radius: 500px;
  object-fit: cover;
  height: 687px;
  object-position: 34% 100%;
}
#about .about-details-container:after {
  content: "";
  position: absolute;
  background-image: url(https://cdn.shopify.com/s/files/1/0649/1635/7281/files/Flower.webp?v=1731627352);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 491px;
  height: 100%;
  top: 50px;
  left: 60px;
  z-index: -1;
  opacity: 0.1;
}
#about .about-details-container .btn-primary {
  margin-top: 16px;
}
@media screen and (max-width: 1024px) {
  #about .about-details-container {
    margin-left: 0;
    padding: 100px 50px 50px 100px;
    right: 0;
  }
  #about .about-container {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 50px;
  }
  #about .about-image-container {
    top: 50px;
  }
  #about .about-image-container img {
    width: 500px;
    height: 500px;
    border-radius: 150px 0;
    left: 0;
  }
  #about .about-details-container:before {
    border-radius: 200px 0 150px;
  }
  #about .about-details-container:after {
    top: 30px;
    max-width: 250px;
    left: unset;
    right: 20px;
  }
}
@media screen and (max-width: 767px) {
  #about .about-image-container .about-image {
    width: 100%;
    max-width: 300px;
    height: 400px;
  }
  #about .about-details-container {
    padding: 100px 25px 50px 40px;
  }
  #about .about-details-container:before {
    border-radius: 130px 0 150px;
  }
}
