#partner {
  background-image: url("https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Banner_Background_Image.webp?v=1733872074");
  background-position: center 5%;
  background-size: 100% 751px;
  background-repeat: no-repeat;
}
#partner .partner-container {
  display: flex;
  padding: 143px 0 83px 0;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
#partner .partner-details-container {
  width: 48%;
}
#partner .partner-details-container .lead-in {
  margin-bottom: 24px;
}
#partner .partner-details-container .btn-primary {
  margin-top: 24px;
}
#partner .partner-details-container h2 {
  margin-bottom: 24px;
}
#partner .partner-featured-image {
  position: relative;
  margin-right: 50px;
}
#partner .text {
  letter-spacing: 1.5px;
  font-size: 22px;
}
#partner .rotatingText {
  top: 10px;
  z-index: 3;
  left: 325px;
}
#partner .partner-featured-image:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border-radius: 200px;
  box-shadow: 0 0 0 12px var(--global-color-white);
}
#partner .partner-featured-image:after {
  position: absolute;
  content: "";
  top: 17px;
  left: 13px;
  right: 13px;
  bottom: 17px;
  z-index: 2;
  border-radius: 180px;
  box-shadow: 0 0 0 8px var(--global-color-white);
}
#partner .partner-featured-image .flower {
  z-index: 1;
  position: absolute;
  width: 214px;
  transform: rotate(-11.18deg);
  height: auto;
  bottom: -8px;
  left: -91px;
}
#partner .partner-featured-image .featured-image {
  width: 100%;
  border-radius: 200px;
  height: 100%;
  z-index: 2;
  position: relative;
  max-width: 430px;
}
#partner .partner-effect-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
  gap: 40px;
}
#partner .partner-effect-container li {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
#partner .partner-effect-container li h5 {
  color: var(--global-dark-gray);
  opacity: 1;
  margin: 0;
}
#partner .partner-effect-container li p {
  color: var(--global-light-gray);
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  #partner .partner-effect-container li {
    width: calc(100% / 2 - 20px);
    gap: 20px;
  }
  #partner .partner-effect-container li svg {
    width: 50px;
  }
  #partner .partner-effect-container {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  #partner .partner-container {
    flex-direction: column;
    padding: 150px 0 100px;
  }
  #partner .partner-details-container,
  #partner .partner-effect-container li {
    width: 100%;
  }
  #partner .partner-featured-image {
    margin: 0;
  }
  #partner .partner-featured-image .featured-image {
    max-width: 250px;
  }
  #partner .rotatingText {
    top: -45px;
    left: 185px;
  }
}
