#philosophy .philosophy-details-container .flower {
  position: absolute;
  bottom: -105px;
  right: -250px;
  width: 450px;
  height: 483px;
  opacity: 0.1;
}
#philosophy .philosophy-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#philosophy .philosophy-details-container p,
#philosophy .philosophy-details-container h2 {
  margin-bottom: 24px;
}
#philosophy .philosophy-details-container .btn-primary {
  margin-top: 0;
}
#philosophy .philosophy-image-container {
  margin-left: -120px;
}
#philosophy .philosophy-image-container img {
  width: 100%;
  max-width: 771px;
  height: 100%;
  border-top-right-radius: 500px;
  position: relative;
  object-fit: cover;
  object-position: 35% 100%;
}
#philosophy .philosophy-details-container {
  max-width: 465px;
  padding: 155px 0 126px 0;
  position: relative;
}
#philosophy .philosophy-details-container::before {
  position: absolute;
  content: "";
  width: 1038px;
  top: 0;
  height: 100%;
  left: -369px;
  z-index: -1;
  background: var(--global-primary-blue);
  border-top-left-radius: 800px;
}
@media screen and (max-width: 767px) {
  #philosophy .philosophy-container {
    flex-direction: column;
  }
  #philosophy .philosophy-image-container {
    margin: 0 0 -75px 0;
  }
  #philosophy .philosophy-details-container {
    width: 100%;
    padding: 100px 0 50px 0;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  #philosophy .philosophy-image-container img {
    width: calc(100% + 40px);
    height: 450px;
    left: -20px;
    object-position: center left;
    border-radius: 0px 0 0 150px;
  }
  #philosophy .philosophy-details-container::before {
    left: -240px;
  }
  #philosophy .philosophy-details-container p,
  #philosophy .philosophy-details-container h2 {
    margin-bottom: 15px;
  }
}
