#qoute .qoute-container {
  position: relative;
  padding-top: 149px;
  padding-bottom: 125px;
}
#qoute .qoute-container h2 {
  margin-bottom: 78px;
  padding: 0 67px;
}
#qoute .qoute-container p {
  text-align: right;
  font-size: 32px;
}
#qoute .qoute-container img {
  position: absolute;
  z-index: -1;
}
#qoute .qoute-container img:first-of-type {
  width: 243px;
  right: -230px;
  top: -10px;
}
#qoute .qoute-container img:last-of-type {
  width: 381px;
  bottom: -105px;
  left: -285px;
}
@media screen and (max-width: 1024px) {
  #qoute .qoute-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #qoute .qoute-container p {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  #qoute .qoute-container h2 {
    padding: 0;
  }
  #qoute .qoute-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #qoute .qoute-container p {
    font-size: 20px;
  }
}
