#quiz .quiz-container {
  padding: 108px 0 101px;
  text-align: center;
  position: relative;
}
#quiz .quiz-details-container {
  max-width: 550px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  width: 100%;
}
#quiz .btn-primary,
#quiz .quiz-details-container div:last-of-type {
  margin-top: 25px;
}
#quiz .quiz-details-container h2 {
  font-size: 40px;
  margin-bottom: 25px;
  z-index: 1;
}
#quiz .flower {
  opacity: 0.15;
  top: 29px;
  left: 50%;
  transform: translateX(-50%);
  width: 461px;
}
#quiz {
  background: var(--global-primary-blue);
}
#quiz .quiz-container img {
  position: absolute;
  object-fit: contain;
}
#quiz .quiz-container img:not(.flower):nth-child(2) {
  width: 341px;
  height: 100%;
  top: 0;
  left: -120px;
}
#quiz .quiz-container img:not(.flower):nth-child(3) {
  width: 201px;
  bottom: 0;
  right: 126px;
}
#quiz .quiz-container img:not(.flower):nth-child(4) {
  width: 341px;
  top: 0;
  right: -120px;
}
#quiz .text {
  letter-spacing: 2px;
  font-size: 25px;
  fill: var(--global-color-white);
}
#quiz .rotatingText {
  top: -95px;
  left: -205px;
}
#quiz .quiz-container img:not(.flower):nth-child(5) {
  width: 84px;
  bottom: 18px;
  right: 85px;
}
@media screen and (max-width: 1024px) {
  #quiz .quiz-container img:not(.flower):nth-child(2) {
    width: 200px;
    object-fit: cover;
  }
  #quiz .quiz-container img:not(.flower):nth-child(3) {
    width: 150px;
  }
  #quiz .quiz-container img:not(.flower):nth-child(4) {
    width: 230px;
  }
}
@media screen and (max-width: 767px) {
  #quiz .quiz-container img:not(.flower) {
    display: none;
  }
  #quiz .text {
    letter-spacing: 6px;
    font-size: 20px;
  }
  #quiz .rotatingText {
    left: -125px;
  }
}
