#solution .shop-container {
  padding: 81px 0 114px;
}
#solution .learn-more-link {
  color: var(--global-semi-gray);
}
#solution .learn-more-link:hover {
  color: var(--global-light-blue);
}
#solution .product-container {
  grid-template-columns: repeat(2, 1fr);
}
#solution .product-container .product-widget {
  padding: 0 25px;
}
#solution .product-container .product-widget img {
  max-width: 400px;
}
#solution .shop-container .btn-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}
#solution .shop-header-container h2 {
  margin-bottom: 0;
}
#solution .product-widget h4 {
  line-height: 1em;
}
#solution .product-widget p:last-of-type {
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.36em;
}
@media screen and (max-width: 767px) {
  #solution .shop-container {
    padding: 50px 0;
    gap: 30px;
  }
  #solution .product-container .product-widget {
    padding: 0;
  }
  #solution .learn-more-link {
    font-size: 12px;
  }
  #solution .product-container {
    grid-template-columns: 1fr;
  }
}
