{{ 'concern.css' | asset_url | stylesheet_tag }}

{% section 'page-header' %}
<section id="concern">
  <div class="wrapper">
    <div class="concern-container">
      <div class="concern-details">
        <p class="lead-in light-blue">we offer solutions</p>
        <h2>Skin Concerns</h2>
      </div>
      <div class="concern-list-container">
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
        <div class="concern-widget">
          <img src="https://cdn.shopify.com/s/files/1/0597/1116/0382/files/Default_Image.webp?v=1732132876" alt="Default Image" loading="lazy">
          <div class="details-container">
            <h4 class="dark-gray">Title Here</h4>
            <a href="#!">View Products</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% section 'quiz' %}